{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/boot.css' %}" />
    <title>{{ title }}</title>
  </head>
  <body>
    {% include 'nav_bar.html' %}
    <main role="main" class="container">
      <div class="starter-template">
        {% block prime %}

        {% endblock %}
      </div>
    </main>
    <script src="{% static 'node_modules/jquery/dist/jquery.slim.min.js' %}"></script>
    <script src="{% static 'node_modules/@popperjs/core/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>
